<!--

If there is a game in play, show a view including the game in play and time remaining (game summary)

If no games are in play, and we haven't found a winner, show that we're at rest

If we have a winner, show a winner of the match

-->

<h1>Warm Up </h1>
<p>timer</p>
<%= render 'warmupform' %>